
<div class="card" *ngFor="let card of cards; let i = index" [ngStyle]="{'opacity':display===true?0.2:1}">
        <div class="image">
            <img src="https://picsum.photos/536" alt="" class="blog-image">
        </div>
        <div class="text">
            <p class="blog-header">{{'posted by'|uppercase}} {{card.author|uppercase}} | {{card.postDate|date|uppercase}} </p>
            <p class="blog-title">{{card.title|uppercase}}</p>
            <p class="blog-content">{{card.content}}</p>
            <a (click)="openBlogDetails(i)" style="text-decoration: none; color: blue; cursor: pointer;">...Read More</a>
            
            <hr>
        </div>
       
        <div class="footer">
            <div class="like">
                <a style="cursor: pointer;" (click)="onLike(i)"><i class="fa fa-heart-o">   </i></a>
                <p>{{card.likes}} LIKES</p>
            </div>
           
            <div class="comment" style="cursor: pointer;" (click)="openBlogDetails(i)">
                <a><i class="fa fa-comment-o"></i></a>
                <p>LEAVE A COMMENT</p>
            </div>

        </div>
</div>

<app-full-blog class="z-index" *ngIf="display" [blogs]="cards" [index]="index" [display]=display (displayChanged)="displayChange($event)"></app-full-blog>



