<div class="full-blog">
    <div class="header">
        <h3 (click)="onCloseBlog()"><i class="fa fa-times"></i></h3>
    </div>
    <div class="body">
        <p class="blog-header">{{blogs[index].title | titlecase}}</p>
        <p class="blog-header">Posted By: {{blogs[index].author|titlecase}}</p>
        <p class="blog-header">Posted On: {{blogs[index].postDate|date|uppercase}}</p>
        <p class="blog-content">{{blogs[index].content}}</p>
    </div>
   
    <div class="comment-box">
        <form action="" #comment = "ngForm" (ngSubmit)="addComment(comment)">
            <input type="text" name="commentBy" placeholder="Your Name" ngModel required>
            <textarea type="text" name="comment" placeholder="Your Comment" ngModel required></textarea>
            <button class="btn btn-primary" type="submit" [disabled]="comment.invalid">Add Comment</button>
        </form>
        <div class="comments">
            <h5 style="text-align: center; margin-bottom: 0; margin-top: 5px; color:blue;">Comments</h5>
            <hr>
            <div class="" *ngFor="let comment of blogs[index].comments">
                <div class="comment-header">
                    <li>{{comment.commentBy|titlecase}} - {{comment.commentDate|date}}</li>
                </div>
                <li class="comment-list">{{comment.comment}}</li>
                <hr>
            </div>
            
        </div>
    </div>
</div>
