.full-blog{
    position: fixed;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    border: 2px solid aquamarine;
    background-color: whitesmoke;
    overflow: auto;
    z-index: 100;
}

.full-blog .header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: aquamarine;
    margin-bottom: 10px;

}
.full-blog .header h3{
    
    /* margin-top: 5px; */
    padding: 0 20px;
    cursor: pointer;
    color: red;   
}

.full-blog .body{
    margin: auto;
    width: 90%;
    max-height: 300px;
    padding: 20px;
    overflow: auto;
    background-color: white;
    text-align: justify;  
    margin-bottom: 10px;
}

.full-blog .body .blog-header{
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.full-blog .body .blog-content{
    margin-top: 10px;
    font-size: 16px;
    font-style: italic;
}


.comment-box{
    margin: auto;
    width: 30%;
    text-align: center;
    padding-bottom: 20px;
}
.comment-box input{
    width: 100%;
    margin:5px;
    padding: 10px;
    /* border-radius: 10px; */
    outline: none;
    border: 1px solid rgb(105, 90, 90);
}

.comment-box textarea{
    width: 100%;
    margin:5px;
    padding: 10px;
    /* border-radius: 10px; */
    outline: none;
    border: 1px solid rgb(105, 90, 90);
}

.comment-box button{
    margin:5px;
    padding: 10px;
    border-radius: 10px;
}

.comment-box li{
    list-style: none;
}

.comment-box .comment-header{
    text-align: left;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comment-box .comment-list{
    background-color: white;
    font-size: 14px;
    font-style: italic;
    text-align: left;
    margin-left: 20px;
    padding:10px;
}